#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 3rem; /* Footer height */
}

#footer {
  height: 3rem; /* Footer height */
}

#footer-main {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#search-rs {
  border-bottom: 1px solid #e5e5e5;
}
