{% extends 'dashboard/base.html' %}

{% load static %}

{% block content_header %}
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="{% url 'core:home' %}"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item"><a href="{% url 'core:archives' %}">Archives</a></li>
              <li class="breadcrumb-item active" aria-current="page">New</li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <a href="{% url 'core:archives' %}" class="btn btn-sm btn-neutral">Back to list</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block page_content %}
<!-- Archive form -->
<div class="card">
  <!-- Card header -->
  <div class="card-header">
    <h3 class="mb-0">Add archive</h3>
  </div>
  <!-- Card body -->
  <div class="card-body">
    <form action="" method="POST" enctype="multipart/form-data" autocomplete="off">
      {% csrf_token %}
      <div class="form-group row">
        <label for="{{ form.nama.id_for_label }}"
          class="col-md-2 col-form-label form-control-label">{{ form.nama.label }}</label>
        <div class="col-md-7">
          <input id="{{ form.nama.id_for_label }}" class="form-control" name="{{ form.nama.html_name }}" type="text"
            placeholder="{{ form.nama.label }}" value="{{ form.nama.value|default:'' }}" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="{{ form.deskripsi.id_for_label }}"
          class="col-md-2 col-form-label form-control-label">{{ form.deskripsi.label }}</label>
        <div class="col-md-7">
          <textarea rows="5" id="{{ form.deskripsi.id_for_label }}" class="form-control"
            name="{{ form.deskripsi.html_name }}" placeholder="{{ form.deskripsi.label }}"
            required>{{ form.deskripsi.value|default:'' }}</textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="{{ form.jenis.id_for_label }}"
          class="col-md-2 col-form-label form-control-label">{{ form.jenis.label }}</label>
        <div class="col-md-7">
          <select id="{{ form.jenis.id_for_label }}" class="form-control" name="{{ form.jenis.html_name }}">
            {% for x,y in form.fields.jenis.choices %}
            <option value="{{ x }}" {% if form.jenis.value == x %}selected{% endif %}>{{ y }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="{{ form.sifat.id_for_label }}"
          class="col-md-2 col-form-label form-control-label">{{ form.sifat.label }}</label>
        <div class="col-md-7">
          <select id="{{ form.sifat.id_for_label }}" class="form-control" name="{{ form.sifat.html_name }}">
            {% for x,y in form.fields.sifat.choices %}
            <option value="{{ x }}" {% if form.sifat.value == x %}selected{% endif %}>{{ y }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div id="temp-dateset" class="row mb-4" {% if form.sifat.value != 1 %}style="display: none;"{% endif %}>
        <div class="col-md-2"></div>
        <div class="col-md-7">
          <div class="row input-daterange datepicker align-items-center">
            <div class="col">
              <div class="form-group">
                <label for="{{ form.publik_mulai.id_for_label }}"
                  class="form-control-label">{{ form.publik_mulai.label }}</label>
                <input id="{{ form.publik_mulai.id_for_label }}" class="form-control"
                  name="{{ form.publik_mulai.html_name }}" placeholder="Start date" type="text"
                  value="{{ form.publik_mulai.value|date:'m/d/Y' }}">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="{{ form.publik_berakhir.id_for_label }}"
                  class="form-control-label">{{ form.publik_berakhir.label }}</label>
                <input id="{{ form.publik_berakhir.id_for_label }}" class="form-control"
                  name="{{ form.publik_berakhir.html_name }}" placeholder="End date" type="text"
                  value="{{ form.publik_berakhir.value|date:'m/d/Y' }}">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label form-control-label">{{ form.file_media.label }}</label>
        <div class="col-md-7">
          <div class="custom-file">
            <input id="{{ form.file_media.id_for_label }}" class="custom-file-input"
              name="{{ form.file_media.html_name }}" type="file" lang="en">
            <label for="{{ form.file_media.id_for_label }}" class="custom-file-label"></label>
          </div>
          {% if form.file_media.value %}
          <div class="text-sm mt-2 ml-2">
            Current file:
            <a href="{{ form.instance.file_media.url }}">{{ form.file_media.value }}</a>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="text-center mt-7">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block content_scripts %}
<script>
  $(document).ready(function () {
    $('#id_sifat').change(function () {
      var value = $(this).val()
      if (value === '1') {
        $('#temp-dateset').show();
      }
      else {
        $('#id_publik_mulai').val('');
        $('#id_publik_berakhir').val('');
        $('#temp-dateset').hide();
      }
    });
  });
</script>
{% endblock %}