{% extends 'dashboard/base.html' %}

{% load static %}

{% block content_header %}
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="{% url 'core:home' %}"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item"><a href="{% url 'core:archives' %}">Archives</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ user }}</li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <a href="{% url 'core:archive_create' %}" class="btn btn-sm btn-neutral">New</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block page_content %}
<!-- Table -->
<div class="row">
  <div class="col">
    <div class="card">
      <!-- Card header -->
      <div class="card-header">
        <h3 class="mb-0">Arsipku</h3>
        <p class="text-sm mb-0">
          Arsip yang telah saya upload di database UMS
        </p>
      </div>
      <div class="table-responsive py-4">
        <table class="table table-flush" id="datatable-archive">
          <thead class="thead-light">
            <tr>
              <th>Nama</th>
              <th>Jenis</th>
              <th>Sifat</th>
              <th>Tanggal unggah</th>
              <th>Action</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Nama</th>
              <th>Jenis</th>
              <th>Sifat</th>
              <th>Tanggal unggah</th>
              <th>Action</th>
            </tr>
          </tfoot>
          <tbody>
            {% for archive in archive_list %}
            <tr>
              <td><a href="{% url 'archive_detail' archive.pk %}" class="font-weight-bold">{{ archive.nama }}</a></td>
              <td>{{ archive.get_jenis_display }}</td>
              <td>{{ archive.get_sifat_display }}</td>
              <td>{{ archive.tanggal_unggah }}</td>
              <td class="table-actions">
                {% if archive.pengunggah == user %}
                <a href="{% url 'core:archive_update' archive.pk %}" class="table-action mr-3" data-toggle="tooltip"
                  data-original-title="Edit product">
                  <i class="fas fa-edit"></i>
                </a>
                <a href="#!" class="table-action table-action-delete mr-3" data-toggle="modal"
                  data-target="#modal-archive{{ archive.pk }}" data-original-title="Delete product">
                  <i class="fas fa-trash"></i>
                </a>
                <div class="modal fade" id="modal-archive{{ archive.pk }}" tabindex="-1" role="dialog"
                  aria-labelledby="modal-archive{{ archive.pk }}" aria-hidden="true">
                  <form action="{% url 'core:archive_delete' archive.pk %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-dialog modal-danger modal-dialog-centered modal-sm" role="document">
                      <div class="modal-content bg-gradient-danger">
                        <div class="modal-header">
                          <h6 class="modal-title">{{ archive.nama }}</h6>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="text-center">
                            <i class="ni ni-archive-2 ni-3x"></i>
                            <p class="mt-4">Are you sure you want to delete this archive?</p>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="submit" class="btn btn-white">Yes</button>
                          <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">No</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                {% endif %}
              </td>
            </tr>
            {% empty %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}