{% load static %}
<!--
=========================================================
* Argon Dashboard PRO - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard-pro
* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com
=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
  <meta name="author" content="Biro IT">

  <!-- Favicon -->
  <link rel="icon" href="{% static 'img/brand/favicon.png' %}" type="image/png">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="{% static 'vendor/nucleo/css/nucleo.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" type="text/css">
  <!-- Page plugins -->
  <link rel="stylesheet" href="{% static 'vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css' %}">
  <!-- Argon CSS -->
  <link rel="stylesheet" href="{% static 'css/argon.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">

  <title>Arsip dan Dokumen UMS</title>
</head>

<body>
  <!-- Content -->
  {% block content %}{% endblock %}

  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/js-cookie/js.cookie.js' %}"></script>
  <script src="{% static 'vendor/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
  <script src="{% static 'vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>
  <!-- Optional JS -->
  <script src="{% static 'vendor/onscreen/dist/on-screen.umd.min.js' %}"></script>
  <script src="{% static 'vendor/select2/dist/js/select2.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'vendor/moment.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap-datetimepicker.js' %}"></script>
  <script src="{% static 'vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'vendor/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
  <script src="{% static 'vendor/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'vendor/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
  <script src="{% static 'vendor/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'vendor/datatables.net-select/js/dataTables.select.min.js' %}"></script>
  <!-- Argon JS -->
  <script src="{% static 'js/argon.js' %}"></script>
  <!-- Custom -->
  <script src="{% static 'js/scripts.js' %}"></script>
  {% block content_scripts %}{% endblock %}
</body>

</html>