{% extends 'ui/base.html' %}

{% load static %}

{% block page_content %}
<!-- Header -->
<div class="header bg-primary py-7 py-lg-8 pt-lg-9">
  <div class="container">
    <div class="header-body text-center">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h1 class="display-2 text-white font-weight-bold mb-0">Arsip dan Dokumen UMS</h1>
          <p class="lead text-white mt-4">
            Mencari arsip dan dokumen yang tersedia secara terbuka untuk pemangku kepentingan. Tersedia
            disini sertifikat akreditasi, siaran pers (press release), atau dokumen umum lainnya yang dibuka
            bagi publik.
          </p>
          <div class="mt-5">
            <div class="card card-raised card-form-horizontal">
              <div class="card-body">
                <form method="GET" action="{% url 'search' %}">
                  <div class="form-group mb-0">
                    <div class='input-group'>
                      <input id="q" class="form-control" name="q" type='text' placeholder="Cari arsip..."
                        {% if request.GET.q %}value="{{request.GET.q}}"{% endif %} />
                      <span class="input-group-addon input-group-append">
                        <button class="btn btn-outline-primary" type="submit" id="button-addon2">
                          <span class="fas fa-search"></span>
                        </button>
                      </span>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<section class="py-6 pb-9 bg-default">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-md-8">
        <h2 class="display-3 text-white">Tentang aplikasi ini</h3>
          <p class="lead text-white">
            Aplikasi Arsip dan Dokumen UMS adalah aplikasi untuk menyimpan berkas arsip,
            dokumen dan gambar sebagai produk dari aktivitas administrasi dan akademik dosen, karyawan dan
            lembaga di Universitas Muhammadiyah Surakarta.
          </p>
      </div>
    </div>
  </div>
</section>
<section class="section section-lg pt-lg-0 mt--7">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-4">
            <div class="card bg-primary shadow border-0">
              <img src="{% static 'img/theme/bgLiberasi.jpg' %}" class="card-img-top">
              <blockquote class="card-blockquote">
                <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                  <polygon points="0,52 583,95 0,95" class="fill-primary"></polygon>
                  <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-primary"></polygon>
                </svg>
                <h4 class="display-4 text-white">Liberasi</h4>
                <p class="text-italic text-white">
                  Pembebasan manusia dari kesyirikan, belenggu penjajahan dan
                  kebodohan, menjadi manusia yang
                  bertauhid, merdeka dan cerdas.
                </p>
              </blockquote>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card bg-success shadow border-0">
              <img src="{% static 'img/theme/bgHumanisasi.jpg' %}" class="card-img-top">
              <blockquote class="card-blockquote">
                <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                  <polygon points="0,52 583,95 0,95" class="fill-success"></polygon>
                  <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-success"></polygon>
                </svg>
                <h4 class="display-4 text-white">Humanisasi</h4>
                <p class="text-italic text-white">
                  Menjadikan manusia sebagai subjek pembangunan.
                  Menjadikan manusia beradab dan berbudaya.
                </p>
              </blockquote>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card bg-warning shadow border-0">
              <img src="{% static 'img/theme/bgTransendensi.jpg' %}" class="card-img-top">
              <blockquote class="card-blockquote">
                <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                  <polygon points="0,52 583,95 0,95" class="fill-warning"></polygon>
                  <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-warning"></polygon>
                </svg>
                <h4 class="display-4 text-white">Transendensi</h4>
                <p class="text-italic text-white">
                  Menjadikan cahaya ilahiah sebagai sumber
                  ilmu pengetahuan, hukum dan perilaku keadaban.
                </p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}