{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Navbar -->
<nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="collapse-brand d-md-block mr-3" style="display: none;">
        <a href="{% url 'core:home' %}">
          <img src="{% static 'img/brand/logo.png' %}" style="height: 50px;">
        </a>
      </div>
      <!-- Search form -->
      <form method="GET" action="{% url 'search' %}" id="navbar-search-main"
        class="navbar-search navbar-search-light form-inline mr-sm-3">
        <div class="form-group mb-0">
          <div class="input-group input-group-alternative input-group-merge">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <input class="form-control" id="q" name="q" type="text" placeholder="Cari arsip..."
              {% if request.GET.q %}value="{{request.GET.q}}" {% endif %}>
          </div>
        </div>
        <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main"
          aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </form>
      <!-- Navbar links -->
      <ul class="navbar-nav align-items-center  ml-md-auto ">
        <li class="nav-item d-sm-none">
          <a class="nav-link" href="{% url 'core:home' %}">
            <i class="ni ni-shop"></i>
          </a>
        </li>
        <li class="nav-item d-sm-none">
          <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
            <i class="ni ni-zoom-split-in"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                <img alt="Image placeholder" src="{{ user.profile.image.url }}">
              </span>
              <div class="media-body  ml-2  d-none d-lg-block">
                <span class="mb-0 text-sm  font-weight-bold">{{ user.get_username }}</span>
              </div>
            </div>
          </a>
          <div class="dropdown-menu  dropdown-menu-right ">
            <div class="dropdown-header noti-title">
              <h6 class="text-overflow m-0">Welcome!</h6>
            </div>
            <a href="{% url 'profile' %}" class="dropdown-item">
              <i class="ni ni-single-02"></i>
              <span>My profile</span>
            </a>
            <a href="{% url 'core:archives' %}" class="dropdown-item">
              <i class="ni ni-books"></i>
              <span>Library</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#!" class="dropdown-item" data-toggle="modal" data-target="#modal-logout">
              <i class="ni ni-user-run"></i>
              <span>Logout</span>
            </a>
          </div>
        </li>
        {% else %}
        <li class="nav-item d-lg-block ml-lg-4">
          <a href="{% url 'login' %}" class="btn btn-neutral btn-icon">
            <span class="btn-inner--icon">
              <i class="ni ni-single-02"></i>
            </span>
            <span class="nav-link-inner--text d-md-inline ml-2" style="display: none;">Login</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<div id="page-container">
  <div id="content-wrap" class="main-content">
    {% block messages %}{% endblock %}
    <!-- Header -->
    <div class="header bg-white py-2 border-bottom">
      <div class="container">
        <div class="header-body">
          <small class="font-weight-bold">About {{ search_count }} results ({{ search_time }} seconds)</small>
        </div>
      </div>
    </div>
    <section class="py-5">
      <div class="container">
        <!-- Search result -->
        {% for archive in archives %}
        <div class="row mb-2">
          <div class="col-md-9">
            <h3 class="title mb-0">
              <a href="{% url 'archive_detail' archive.pk %}">
                <span>[{{ archive.get_jenis_display }}]</span> {{ archive.nama }}
              </a>
            </h3>
            <div class="text">
              <small class="text-success">Uploaded on {{ archive.tanggal_unggah|date:'d F Y' }}</small>
            </div>
            <p class="archive-teaser description">
              {{ archive.deskripsi }}
            </p>
          </div>
          <div class="col-md-3 text-right">
            {% if archive.file_media %}
            <a href="{{ archive.file_media.url }}" target="_blank">[{{ archive.extension }}] Download</a>
            {% endif %}
          </div>
        </div>
        {% empty %}
        <h4>Tidak ada arsip yang ditemukan.</h4>
        {% endfor %}

        <!-- Pagination start -->
        {% if archives.has_other_pages %}
        <nav aria-label="search-pages" class="mt-5">
          <ul class="pagination pagination-info justify-content-center">
            {% if archives.has_previous %}
            <li class="page-item">
              <a class="page-link"
                href="?page={{ archives.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
                aria-label="Previous">
                <span aria-hidden="true"><i class="ni ni-bold-left" aria-hidden="true"></i></span>
              </a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true"><i class="ni ni-bold-left" aria-hidden="true"></i></span>
              </a>
            </li>
            {% endif %}
            {% for i in archives.paginator.page_range %}
            {% if archives.number == i %}
            <li class="page-item active">
              <a class="page-link" href="#!">{{ i }}</a>
            </li>
            {% else %}
            <li class="page-item">
              <a class="page-link"
                href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if archives.has_next %}
            <li class="page-item">
              <a class="page-link"
                href="?page={{ archives.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
                aria-label="Next">
                <span aria-hidden="true"><i class="ni ni-bold-right" aria-hidden="true"></i></span>
              </a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true"><i class="ni ni-bold-right" aria-hidden="true"></i></span>
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>
        {% endif %}
      </div>
    </section>
    <!-- Modal -->
    {% include 'partials/_modal.html' %}
  </div>

  <!-- Footer -->
  <div id="footer">
    <!-- Footer -->
    <footer class="py-5 border-top" id="footer-main">
      <div class="container">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
              &copy;
              <script>
                document.write(new Date().getFullYear())
              </script> <a href="https://www.ums.ac.id" class="font-weight-bold ml-1" target="_blank">
                Universitas Muhammadiyah Surakarta
              </a>
            </div>
          </div>
          <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
              <li class="nav-item">
                <a href="http://bti.ums.ac.id" class="nav-link" target="_blank">Biro TI</a>
              </li>
              <li class="nav-item">
                <a href="https://github.com/creativetimofficial/argon-design-system/blob/master/LICENSE.md"
                  class="nav-link" target="_blank">MIT License</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
{% endblock %}

{% block content_scripts %}
<script>
  $(document).ready(function () {

    $('.archive-teaser').each(function (f) {
      if ($(this).text().length > 300) {
        var newstr = $(this).text().substring(0, 300) + '.....';
        $(this).text(newstr);
      }
    });
  })
</script>
{% endblock %}