{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show ml-auto mb-0" role="alert">
  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
  <span class="alert-inner--icon"><i class="ni ni-support-16"></i></span>
  {% else %}
  <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span>
  {% endif %}
  <span class="alert-inner--text"><strong>{{ message.tags|title }}!</strong> {{ message }}!</span>

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}