<div class="card">
  <div class="modal fade" id="modal-logout" tabindex="-1" role="dialog" aria-labelledby="modal-logout"
    aria-hidden="true">
    <form action="{% url 'logout' %}" method="POST">
      {% csrf_token %}
      <div class="modal-dialog modal-danger modal-dialog-centered modal-sm" role="document">
        <div class="modal-content bg-gradient-danger">
          <div class="modal-header">
            <h6 class="modal-title">Attention!</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="text-center">
              <i class="ni ni-button-power ni-3x"></i>
              <p class="mt-4">Are you sure you want to logout?</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-white">Yes</button>
            <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>