{% load i18n %}

{% if archives.has_other_pages %}
<nav aria-label="search-pages">
  <ul class="pagination pagination-info justify-content-center">
    {% if archives.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ archives.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true"><i class="ni ni-bold-left" aria-hidden="true"></i></span>
      </a>v
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true"><i class="ni ni-bold-left" aria-hidden="true"></i></span>
      </a>
    </li>
    {% endif %}
    {% for i in archives.paginator.page_range %}
    {% if archives.number == i %}
    <li class="page-item active">
      <span class="page-link">{{ i }}</span>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link" href="?page={{ i }}">{{ i }}</a>
    </li>
    {% endif %}
    {% endfor %}
    {% if archives.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ archives.next_page_number }}" aria-label="Next">
        <span aria-hidden="true"><i class="ni ni-bold-right" aria-hidden="true"></i></span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true"><i class="ni ni-bold-right" aria-hidden="true"></i></span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}