{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Header -->
<div class="header bg-gradient-primary py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 col-md-8 px-5">
          <h1 class="text-white">Welcome!</h1>
          <p class="text-lead text-white">
            Login dengan menggunakan nomor induk UMS.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<section class="section bg-default mt--8 pb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary border-0 mb-0">
          <div class="card-header bg-transparent pb-5">
            <div class="btn-wrapper text-center">
              <div class="logo-container">
                <a href="{% url 'core:home' %}">
                  <img src="{% static 'img/brand/logoums-fc.png' %}" height="100" width="100" alt="logoums image" />
                </a>
              </div>
            </div>
          </div>
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <small>Your credentials</small>
            </div>
            <form role="form" class="needs-validation" method="POST" action="{% url 'login' %}" novalidate>
              {% csrf_token %}
              {% if form.non_field_errors %}
              <div role="alert" class="alert alert-danger alert-dismissible fade show" style="padding-right: 4rem;">
                <span class="alert-title"><strong>Error!</strong></span>
                {% for error in form.non_field_errors %}
                <span class="alert-text">{{ error }}</span>
                {% endfor %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% endif %}
              <div class="form-group mb-3">
                <input id="{{ form.username.id_for_label }}" class="form-control" name="{{ form.username.html_name }}"
                  type="text" placeholder="Username" value="{{ form.username.value|default:'' }}" required>
                <div class="invalid-feedback">
                  Please enter your username.
                </div>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="form-group">
                <input id="{{ form.password.id_for_label }}" class="form-control" name="{{ form.password.html_name }}"
                  type="password" placeholder="Password" required>
                <div class="invalid-feedback">
                  Please enter your password.
                </div>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary my-4">Sign in</button>
              </div>
            </form>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6">
          </div>
          <div class="col-6 text-right">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block content_scripts %}
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>
{% endblock %}