{% extends 'dashboard/base.html' %}

{% load static %}

{% block content_header %}
<div class="header pb-6 d-flex align-items-center"
  style="min-height: 500px; background-image: url({% static 'img/theme/bg5.jpg' %}); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">
          Hello {% if user.get_short_name %}
          {{ user.get_short_name }}
          {% else %}
          {{ user.get_username }}
          {% endif %}</h1>
        <p class="text-white mt-0 mb-5">
          This is your profile page. You can see and edit your basic information.
        </p>
        <a href="javascript:{document.getElementById('user-profile').submit()}" class="btn btn-neutral">Edit profile</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block page_content %}
<div class="row">
  <div class="col-xl-4 order-xl-2">
    <div class="card card-profile">
      <img src="{% static 'img/theme/img-1-1000x600.jpg' %}" alt="Image placeholder" class="card-img-top">
      <div class="row justify-content-center">
        <div class="col-lg-3 order-lg-2">
          <div class="card-profile-image">
            <a href="#">
              <img src="{{ user.profile.image.url }}" class="rounded-circle">
            </a>
          </div>
        </div>
      </div>
      <div class="card-body border-0 pt-7">
        <div class="text-center">
          <h5 class="h3">
            {% if user.get_full_name %}
            {{ user.get_full_name }}
            {% else %}
            {{ user.get_username }}
            {% endif %}
          </h5>
          <div class="h5 mt-4">
            <i class="ni business_briefcase-24 mr-2"></i>
            {% if user.is_superuser %}
            Admin
            {% else %}
            Member
            {% endif %} - Biro IT
          </div>
          <div>
            <i class="ni education_hat mr-2"></i>University of Muhammadiyah Surakarta
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-8 order-xl-1">
    <div class="row">
      <div class="col-lg-6">
        <div class="card bg-gradient-info border-0">
          <!-- Card body -->
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0 text-white">Last login</h5>
                <span class="h2 font-weight-bold mb-0 text-white">{{ user.last_login|date:'d F Y' }}</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                  <i class="ni ni-watch-time"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card bg-gradient-danger border-0">
          <!-- Card body -->
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0 text-white">Date joined</h5>
                <span class="h2 font-weight-bold mb-0 text-white">{{ user.date_joined|date:'d F Y' }}</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                  <i class="ni ni-time-alarm"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">Edit profile </h3>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form id="user-profile" method="POST">
          {% csrf_token %}
          <h6 class="heading-small text-muted mb-4">User information</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label"
                    for="{{ user_form.username.id_for_label }}">{{ user_form.username.label }}</label>
                  <input type="text" id="{{ user_form.username.id_for_label }}"
                    name="{{ user_form.username.html_name }}" class="form-control"
                    placeholder="{{ user_form.username.label }}" value="{{ user_form.username.value|default:'' }}">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label"
                    for="{{ user_form.email.id_for_label }}">{{ user_form.email.label }}</label>
                  <input type="text" id="{{ user_form.email.id_for_label }}" name="{{ user_form.email.html_name }}"
                    class="form-control" placeholder="{{ user_form.email.label }}"
                    value="{{ user_form.email.value|default:'' }}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label"
                    for="{{ user_form.first_name.id_for_label }}">{{ user_form.first_name.label }}</label>
                  <input type="text" id="{{ user_form.first_name.id_for_label }}"
                    name="{{ user_form.first_name.html_name }}" class="form-control"
                    placeholder="{{ user_form.first_name.label }}" value="{{ user_form.first_name.value|default:'' }}">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label"
                    for="{{ user_form.last_name.id_for_label }}">{{ user_form.last_name.label }}</label>
                  <input type="text" id="{{ user_form.last_name.id_for_label }}"
                    name="{{ user_form.last_name.html_name }}" class="form-control"
                    placeholder="{{ user_form.last_name.label }}" value="{{ user_form.last_name.value|default:'' }}">
                </div>
              </div>
            </div>
          </div>
          <input type="hidden">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}